@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-cantarell);
  --font-serif: var(--font-cormorant-garamond);
  --font-display: var(--font-playfair);
}

/* Custom Font Classes */
.font-cantarell {
  font-family: var(--font-cantarell);
}

.font-cormorant-garamond {
  font-family: var(--font-cormorant-garamond);
}

.font-playfair {
  font-family: var(--font-playfair);
}

body {
  font-family: var(--font-cantarell), Helvetica, sans-serif;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  background: url('/webp/bg.webp') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

